:root {
  --win98-background: #c0c0c0;
  --win98-button-face: #c0c0c0;
  --win98-window-frame: #87888f;
  --win98-button-highlight: #ffffff;
  --win98-button-shadow: #808080;
  --win98-window-text: #000000;
  --win98-highlight: #fdfec9;
  --win98-active-title: #0a246a;
  --win98-desktop: #316597;

  --win98-node-default: #c3c7cb;
  --win98-node-border: #87888f;
  --win98-node-current: #f59e0b;
  --win98-node-visited: #10b981;
  --win98-node-frontier: #60a5fa;
  --win98-edge-default: #aaa;
  --win98-edge-visited: #4caf50;
}
